<div class = "post">
          <div class = "tag-line "><%= post.title %></div>
          <div class = "content">
              <div class = "img-container-one"><img src = "<%= post.coverPhoto %>"></div>
             <div class = "text-container"> <%= post.articleText %> </div>
          <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
            <input type="submit" class="my-button" value="Delete Wiki!"></br>
          </form>
          <a href="/posts/<%- post._id %>/edit"><button class = "my-button">Edit Wiki</button></a>
        </div>
</div>
