<% include ../header.ejs %>
<% include ../navbar.ejs %>
<div class = "content-container">
  <div class = "post-container">
    <div class = "header">Articles</div>
    <hr/>
    <% posts.forEach(function(post){ %>
      <div class = "post">
            <div class = "tag-line tag-line-summary">
              <div class = "tag-line-header"><%= post.title %></div>
              <div class = "tag-line-description">some, tags, some tags</div>
              <div class = "tag-line-update-info"><%= post.lastUpdated %> by <%= post.lastUpdatedBy %></div>
            </div>
            <div class = "content hidden">
                <div class = "img-container-one"><img src = "<%= post.coverPhoto %>"></div>
               <div class = "text-container"> <%= post.articleText %> </div>
              <a href="/posts/<%- post._id %>/edit"><button class = "my-button">Edit Wiki</button></a>
              <a href="/posts/<%- post._id %>/"><button class = "my-button">View Wiki</button></a>
          </div>
    </div>
    <% }) %>
  </div>
  <div class = "post-container">
    <div class = "header">Cash Flow</div>
    <hr/>
      <table style="width:100%">
        <tr>
          <th></th>
          <td>Year 1</td>
          <td>Year 2</td>
          <td>Year 3</td>
          <td>Year 4</td>
          <td>Year 5</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
        </tr>
        <tr>
          <td>Expenses</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
        </tr>
        <tr>
          <td>NOI</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
          <td>$123</td>
        </tr>
      </table>
  </div>
  <div class = "post-container">
    <div class = "header">Tenants</div>
    <hr/>
    <div class = "post">
        <div class = "tag-line tag-line-summary">
          <div class = "tag-line-header">test</div>
        </div>
<!-- Tenant Info Start -->
        <div class = "content hidden">
          <div class = "header">Info</div>
          <hr>
        <form>
          <input type = "text" placeholder="Tenant Name">
          <input type = "number" placeholder="Suite Square Footage">
          <input type = "text" placeholder="Suite ID">
          <div>Key Lease Dates
              <label>Signed: <label><input type = "date">
              <label>Commencement: <label><input type = "date">
              <div>Expiration: </div>
          </div>
          <select><option>Tenant Type</option></select>
          <div>TI Allowance
            <input type = "number" placeholder="TI Allowance PSF"></input>
            <div> Total TI Allowance</div>
          </div>
          <div>Commission
            <input type = "number" placeholder="Due At Signing"></input>
            <input type = "number" placeholder="Due At Signing"></input>
          </div>
          <div>6 months of Free Rent worth $xxx,xxx at $5.00 PSF</div>
          <textarea placeholder="Other Lease Structure Notes"></textarea>

        </form>
        </div>
<!-- Comments Info Start -->
        <div class = "content hidden">
          <div class = "header">Comments</div>
          <hr>
          <div class = "overall-comment-container">
            <div class = "approvals-container">
              <div class = "comment-headers">Approvals</div>
              <div class = "">Test</div>
              <div class = "">Test</div>
            </div>
            <div class = "comment-container">
              <div class = "comment-headers">Comments</div>
              <div class = "inital-comments">Initial Comment
                <div class = "comment-author">Author</div>
              </div>
              <div class = "sub-comments">Sub Comment
                <div class = "comment-author">Author</div>
              </div>
            </div>
            <div class = "comment-file-container">
              <div class = "comment-headers">Files</div>
              <div class = "file">Test</div>
              <div class = "file">Test</div>
            </div>
          </div>

        </div>

<!-- Tenant Rent Table Start -->
        <div class = "content hidden">
          <div class = "header">Rents</div>
          <hr/>
          <table class = "rent-assump-table" style="width:100%">
            <tr>
            <th colspan="2">Rent Period</th>
            <th></th>
            <th></th>
            <th>Upon?</th>
          </tr>
            <tr>
              <th>Start</th>
              <th>End</th>
              <th>Rent</th>
              <th>Commission</th>
              <th>Expiration</th>
            </tr>
            <tr>
              <td>
                <div class = "date-display">12/12/2015</div>
              </td>
              <td>
                  <input class = "rent-input" type = "date"></input></td>
              <td>
                <input class = "rent-inputs"
                       type = "number"
                       placeholder="$PSF/Year"></input></td>
              <td>
                <input class = "rent-inputs"
                       type = "number"
                       placeholder="% of Period"></input></td>
              <td>
                <div class = "rent-radio-container">
                  <label for = "Renewal">Renewal</label>
                  <input value = "Renewal"
                         id = "Renewal"
                         name = "Renewal"
                         type = "radio"></input>
                  <label for = "Market">Market</label>
                  <input checked
                         id = "Market"
                         value = "Market"
                         name = "Renewal"
                         type = "radio"></input>
                </div>
              </td>
            </tr>
          </table>
        </div>
<!-- Files Start -->
<div class = "content hidden">
  <div class = "header">Files</div>
  <hr>
  <div class = "file-container">
    <a href ="www.espn.com"><div class = "file">lease.pdf</div></a>
    <a href =""><div class = "file">floorplan.pdf</div></a>
    </div>
    <form action="/upload-target" class="dropzone dropzone-container"></form>
</div>
<!-- rent table end -->
      </div>
    </div>
  </div>
</div>

<script src="/scripts/posts.js"></script>
